html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Đảm bảo div chứa chiếm toàn bộ không gian mong muốn */
.viewer-container {
    width: 100%;
    height: 70vh; /* Hoặc chiều cao tùy chỉnh mà bạn muốn */
}

spline-viewer {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Giúp nội dung fit vào container */
}